/** mat-menu */
.cdk-overlay-connected-position-bounding-box{
    top: 9px !important;
    right: 0px !important;
}

.mat-menu-panel {
    min-width: 100% !important;
    max-width: 100% !important;
    border-radius: 0px !important;
}

.cdk-overlay-pane {
    width: 100%;
}

.mat-select-panel {
    min-width: 112px !important;
    max-width: 262px !important;
}

.cdk-overlay-pane {
    transform: none !important;
}