<h1>Edit schedule</h1>
<h3>In this form you can edit a schedule</h3>
<form [formGroup]="scheduleForm" (ngSubmit)="save()">
	<div fxLayout="row">
		<div class="items" fxFlex="50">
			<mat-form-field appearance="outline">
				<mat-label>Subject</mat-label>
				<input matInput placeholder="Placeholder" formControlName="subject" id="updateSubject">
			</mat-form-field>
		</div>
		<div class="items" fxFlex="50">
			<mat-form-field appearance="outline">
				<mat-label>Name</mat-label>
				<input matInput placeholder="Placeholder" formControlName="name" id="updateName">
			</mat-form-field>
		</div>
	</div>
	<div fxLayout="row">
		<div class="items" fxFlex="50">
			<mat-form-field appearance="outline">
				<mat-label>Date</mat-label>
				<input matInput
					placeholder="Placeholder" 
					formControlName="date"
					id="updateDate" readonly>
			</mat-form-field>
		</div>
		<div class="items" fxFlex="50">
			<mat-form-field appearance="outline">
				<mat-label>Start hour</mat-label>
				<mat-select formControlName="startHour" id="updateStartHour">
					<mat-option *ngFor="let item of horario; trackBy: ( 'id' | trackBy)" [value]="item"> {{ item }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div fxLayout="row">
		<div class="items" fxFlex="50">
			<mat-form-field appearance="outline">
				<mat-label>End hour</mat-label>
				<mat-select formControlName="endHour" id="updateEndHour">
					<mat-option *ngFor="let item of horario; trackBy: ( 'id' | trackBy)" [value]="item"> {{ item }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div fxLayout="row">
		<div fxFlex="100" fxLayoutAlign="center center">
			<button mat-flat-button color="primary" class="margin"  id="editButtonSave">Save</button>
			<a mat-flat-button color="warn" class="margin" id="editButtonClose" (click)="closeModal()">Close</a>
		</div>
	</div>
</form>